.imgFFComponent {
    /*height: 99%;
    width: 99%;*/
    padding-left: -10px;
}


/*.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: gold;
    padding: 2rem;
}


.inner2 {
    background: gold;
    align-self: center;
    padding: 2rem;
}*/