<nav class="navbar navbar-left" 
     role="navigation" 
     style="width: 100%; margin-bottom: 0px;">
    <div class="panel-group jci-panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading jci-panel-heading collapsed" 
                 data-toggle="collapse" 
                 href="#stackFlatFilter">
                <div class="panel-title">
                    <span style="cursor:pointer;">Filters</span>
                </div>
            </div>
            <div id="stackFlatFilter" class="panel-collapse collapse out">
                <div class="panel-body jci-panel-body">
                    <img class="imgFF" 
                         src="js/3d/models/duct-2D/thumbs/Air-Filter.png" 
                         (click)="toggleFilter()">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group jci-panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading collapsed" 
                 data-toggle="collapse" 
                 href="#collapseTwo">
                <div class="panel-title">
                    <span style="cursor:pointer;">Fans</span>
                </div>
            </div>
            <div id="collapseTwo" 
                 class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="imgFF" 
                         src="js/3d/models/duct-2D/thumbs/ReturnFan.png" 
                         (click)="toggleFan()">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group jci-panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading collapsed" 
                 data-toggle="collapse" 
                 href="#collapseThree">
                <div class="panel-title">
                    <span style="cursor:pointer;">Coils</span>
                </div>
            </div>
            <div id="collapseThree" 
                 class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="imgFF" 
                         src="js/3d/models/duct-2D/thumbs/CoolingCoil.png" 
                         (click)="toggleCoil()">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group jci-panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading collapsed" 
                 data-toggle="collapse" 
                 href="#collapsefour">
                <div class="panel-title">
                    <span style="cursor:pointer;">Plenums</span>
                </div>
            </div>
            <div id="collapsefour" 
                 class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group jci-panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading collapsed" 
                 data-toggle="collapse" 
                 href="#collapsefive">
                <div class="panel-title">
                    <span style="cursor:pointer;">Energy Recovery</span>
                </div>
            </div>
            <div id="collapsefive" 
                 class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group jci-panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading collapsed" 
                 data-toggle="collapse" 
                 href="#collapsesix">
                <div class="panel-title">
                    <span style="cursor:pointer;">Access</span>
                </div>
            </div>
            <div id="collapsesix" 
                 class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</nav>
