<div class="row tabs-left">
    <div class="col-xs-12 navTabs">
        <ul class="nav nav-tabs filter_tab">
            <li [class.active]="tabSelected === 1"
                (click)="selectedTab(1)">
                <a href="#coil-options_{{segment.id.toString()}}"
                   data-toggle="tab">
                    Coil Options
                </a>
            </li>
            <li [class.active]="tabSelected === 2"
                (click)="selectedTab(2)">
                <a href="#segment-options_{{segment.id.toString()}}"
                   data-toggle="tab">
                    Segment Options
                </a>
            </li>
            <li [class.active]="tabSelected === 3"
                (click)="selectedTab(3)">
                <a href="#access-options_{{segment.id.toString()}}"
                   data-toggle="tab">
                    Access Options
                </a>
            </li>
            <li [class.active]="tabSelected === 4"
                (click)="selectedTab(4)">
                <a href="#const-overrides_{{segment.id.toString()}}"
                   data-toggle="tab">
                    Construction Overrides
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content col-xs-12">
        <div class="tab-pane"
             [class.active]="tabSelected === 1"
             id="coil-options_{{segment.id.toString()}}"
             style="padding-left: 4px;">
            <div class="container-fluid">
                <div class="row filter-header">
                    <div class="col-xs-5 filter_boxStyle border_left border_right">
                        <div class="col-xs-12 filter_boxStyle">
                            <segment-header-coil [segment]="segment">
                            </segment-header-coil>
                        </div>
                    </div>
                    <div class="col-xs-7 filter_boxStyle">
                        <h3 style="margin-top: 10px;padding-left: 20px;">
                            Coil Configuration
                        </h3>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col-xs-5  filter-depth border-right"
                         [style.height.px]="viewHeight">
                        <div class="row">
                            <div class="form-group display-inline"></div>
                        </div>
                        <div class="row">
                            <coil-segment-options [segment]="segment">
                            </coil-segment-options>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <coil-configuration [segment]="segment">
                        </coil-configuration>
                    </div>
                </div>
            </div>
        </div>
        <div id="segment-options_{{segment.id.toString()}}"
             [class.active]="tabSelected === 2"
             class="tab-pane">
            <div class="container-fluid">
                <div class="row filter-header">
                    <div class="col-xs-5 padding_left_0 padding_right_0 border_left border_right">
                        <div class="col-xs-12 filter_boxStyle">
                            <segment-header-coil [segment]="segment">
                            </segment-header-coil>
                        </div>
                    </div>
                    <div class="col-xs-7 filter_boxStyle">
                        <h3 style="margin-top: 10px;padding-left: 20px;">
                            Coil Configuration
                        </h3>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col-xs-5 col-sm-5 border-right filter-depth">
                        <div class="row">
                            <div class="form-group display-inline"></div>
                        </div>
                        <div class="row">
                            <segment-options [segment]="segment">
                            </segment-options>
                        </div>
                    </div>
                    <div class="col-xs-7">
                    </div>
                </div>
            </div>
        </div>
        <div id="access-options_{{segment.id.toString()}}"
             [class.active]="tabSelected === 3"
             class="tab-pane">
            <div class="container-fluid">
                <div class="row filter-header">
                    <div class="col-xs-5 padding_left_0 padding_right_0 border_left border_right">
                        <div class="col-xs-12 filter_boxStyle">
                            <segment-header-coil [segment]="segment">
                            </segment-header-coil>
                        </div>
                    </div>
                    <div class="col-xs-7 filter_boxStyle">
                        <h3 style="margin-top: 10px;padding-left: 20px;">
                            Coil Configuration
                        </h3>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col-xs-5 col-sm-5 border-right filter-depth">
                        <div class="row">
                            <div class="form-group display-inline"></div>
                        </div>
                        <div class="row">
                            <access-options [segment]="segment">
                            </access-options>
                        </div>
                    </div>
                    <div class="col-xs-7">
                    </div>
                </div>
            </div>
        </div>
        <div id="const-overrides_{{segment.id.toString()}}" class="tab-pane"
             [class.active]="tabSelected === 4">
            <div class="container-fluid">
                <div class="row filter-header">
                    <div class="col-xs-5 padding_left_0 padding_right_0 border_left border_right">
                        <div class="col-xs-12 filter_boxStyle">
                            <segment-header-coil [segment]="segment">
                            </segment-header-coil>
                        </div>
                    </div>
                    <div class="col-xs-7 filter_boxStyle">
                        <h3 style="margin-top: 10px;padding-left: 20px;">
                            Coil Configuration
                        </h3>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col-xs-5 col-sm-5 border-right filter-depth">
                        <div class="row">
                            <div class="form-group display-inline"></div>
                        </div>
                        <div class="row">
                            <construction-overrides [segment]="segment">
                            </construction-overrides>
                        </div>
                    </div>
                    <div class="col-xs-7">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
