
<div class="row" style="margin-left:-5px;">
    <div class="col-xs-12 filter_boxStyle">
        <div class="col-xs-6 form-group shift_depth leftBoxSize">
            <div class="col-xs-7 filter_boxStyle"><label class="shift_style">Coil Bulkhead:&nbsp;</label></div>
            <div class="col-xs-5 filter_boxStyle">
                <select style="width:100%"></select>
            </div>
        </div>
        <div class="col-xs-6 filter_boxStyle rightBoxSize">
            <div class="col-xs-7 filter_boxStyle">
                <label class="shift_style">Coil Support:&nbsp;</label>
            </div>
            <div class="col-xs-5 filter_boxStyle">
                <select style="width:85.49%"></select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 filter_boxStyle">
        <div class="col-xs-6 form-group shift_depth leftBoxSize">
            <div class="col-xs-7 filter_boxStyle"><label class="shift_style">Coil Connection Offset:&nbsp;</label></div>
            <div class="col-xs-5 filter_boxStyle">
                <select style="width:100%"></select>
            </div>
        </div>
        <div class="col-xs-6 filter_boxStyle rightBoxSize">
            <div class="col-xs-7 filter_boxStyle">
                <label class="shift_style">Coil Connection Override:&nbsp;</label>
            </div>
            <div class="col-xs-5  filter_boxStyle">
                <select style="width:85.49%"></select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 filter_boxStyle">
        <div class="col-xs-6 form-group shift_depth leftBoxSize">
            <div class="col-xs-7 filter_boxStyle"><label class="shift_style">Coil Connection Rotation:</label></div>
            <div class="col-xs-5 filter_boxStyle">
                <select style="width:100%"></select>
            </div>
        </div>
        <div class="col-xs-6 filter_boxStyle rightBoxSize">
            <div class="col-xs-7 filter_boxStyle">
                <label class="shift_style">Coil Pull Panel:&nbsp;</label>
            </div>
            <div class="col-xs-5  filter_boxStyle">
                <select style="width:85.49%"></select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 filter_boxStyle">
        <div class="col-xs-6 form-group shift_depth leftBoxSize">
            <div class="col-xs-7 filter_boxStyle"><label class="shift_style">Coil Stacking Rack:&nbsp;</label></div>
            <div class="col-xs-5 filter_boxStyle">
                <select style="width:100%"></select>
            </div>
        </div>
        <div class="col-xs-6 filter_boxStyle rightBoxSize">
            <div class="col-xs-7 filter_boxStyle">
                <label class="shift_style">Drip Pan Downspout:&nbsp;</label>
            </div>
            <div class="col-xs-5  filter_boxStyle">
                <select style="width:85.49%"></select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 filter_boxStyle">
        <div class="col-xs-6 form-group shift_depth leftBoxSize">
            <div class="col-xs-7 filter_boxStyle"><label class="shift_style">Intermediate Drain Pan:&nbsp;</label></div>
            <div class="col-xs-5 filter_boxStyle">
                <select style="width:100%"></select>
            </div>
        </div>
        <div class="col-xs-6 filter_boxStyle rightBoxSize">
            <div class="col-xs-7 filter_boxStyle">
                <label class="shift_style">Extend Coil Connections <br /> to Exterior of Unit:&nbsp;</label>
            </div>
            <div class="col-xs-1  filter_boxStyle ">
                <div class="form-group">
                    <div class="checkbox" style="margin-top: 8px;">
                        <input id="box-exterior-unit" type="checkbox" value="1" checked>
                        <label for="box-exterior-unit"> </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 filter_boxStyle">
        <div class="col-xs-6 form-group shift_depth leftBoxSize">
            <div class="col-xs-7 filter_boxStyle"><label class="shift_style">Same Side Coil <br /> Connections:&nbsp;</label></div>
            <div class="col-xs-1 filter_boxStyle">
                <div class="form-group">
                    <div class="checkbox checkbox-top">
                        <input id="box-side-coil" type="checkbox" value="1" checked>
                        <label for="box-side-coil"> </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 filter_boxStyle rightBoxSize">
            <div class="col-xs-6 filter_boxStyle">
            </div>
            <div class="col-xs-5 filter_boxStyle">
            </div>
        </div>
    </div>
</div>
