<div class="col-xs-12">
    <h3>
        {{headerCaption}}
        <i class="editProduct fa fa-pencil pointer" *ngIf="showPencil"
           (click)="toggleOverrideModal()">
        </i>

        <!--<modal-dialog [(visible)]="showModal">
        <flat-filter-override id="flatFilterOverride"
                              class="flat-filter-override"
                              [show]="showModal"
                              style="width:100%;">
        </flat-filter-override>
    </modal-dialog>-->
    </h3>
</div>
