<div class="panel panel-default jci-panel-body">
    <div class="panel-heading"><strong>Overview {{title}}</strong></div>
    <div class="panel-body">

        <!--content-->
        <div class="row view">
            <div class="col-xs-12 col-md-6 leftItem">
                <label (click)="selectedView(1)" >Top</label>
            </div>
            <div class="col-xs-12 col-md-6  ">
                <label (click)="selectedView(2)">Bottom</label>
            </div>
        </div>

        <div class="row view">
            <div class="col-xs-12 col-md-6 leftItem">
                <label (click)="selectedView(3)">Left Side</label>
            </div>
            <div class="col-xs-12 col-md-6  ">
                <label (click)="selectedView(4)">Front</label>
            </div>
        </div>

        <div class="row view">
            <div class="col-xs-12 col-md-6 leftItem">
                <label (click)="selectedView(5)">Right Side</label>
            </div>
            <div class="col-xs-12 col-md-6  ">
                <label (click)="selectedView(6)">Rear</label>
            </div>
        </div>

    </div>

</div>
