
<div class="col-xs-12 filter_boxStyle">
    <div class="col-xs-5 form-group shift_depth leftBoxSize">
        <div class="col-xs-6 filter_boxStyle">
            <label class="shift_style">
                Filter Depth:
            </label>
        </div>
        <div class="col-xs-6 filter_boxStyle">
            <combobox-filter-depth [producttype]="filterBank.unit.productType"
                                   [brandoption]="filterBank.unit.unitOptions.brandOption"
                                   [segmenttype]="filterBank.segmentConfig_Filter.segment.segmentType"
                                   [filterbanktype]="filterBank.filterBankType_DescriptorInstance.enum"
                                   [descriptorinstance]="filterBank.filterDepth_DescriptorInstance"
                                   overridestyle="margin-left: 5px; width: 100%; min-width: unset;"
                                   [(ngModel)]="filterBank.filterDepth_DescriptorInstance.enum"
                                   (selectionchanged)="onChangeFilterDepth()">
            </combobox-filter-depth>
        </div>
    </div>
    <div class="col-xs-7 filter_boxStyle rightBoxSize">
        <div class="col-xs-4 filter_boxStyle">
            <label class="shift_style">
                Filter Media:
            </label>
        </div>
        <div class="col-xs-8 filter_boxStyle">
            <combobox-filter-media-type [producttype]="filterBank.unit.productType"
                                        [overridestyle]="'width: 60%; min-width: 0px; display: inline-block; margin-left: 5px; padding: 0 3px;'"
                                        [segmenttype]="filterBank.segmentConfig_Filter.segment.segmentType"
                                        [filterbanktype]="filterBank.filterBankType_DescriptorInstance.enum"
                                        [filterdepth]="filterBank.filterDepth_DescriptorInstance.enum"
                                        [brandoption]="filterBank.unit.unitOptions.brandOption"
                                        [descriptorinstance]="filterBank.filterMediaComposite_DescriptorInstance"
                                        [(ngModel)]="filterBank.filterMediaComposite"
                                        (selectionchanged)="onChangeFilterMedia()">
            </combobox-filter-media-type>
        </div>
        <div class="col-xs-3 filter_boxStyle">
        </div>
    </div>
</div>
<div class="col-xs-12 filter_boxStyle">
    <div class="col-xs-5 form-group filter_boxStyle leftBoxSize">
        <div class="col-xs-6 filter_boxStyle">
            <label class="shift_style">
                Clean Pressure Drop:
            </label>
        </div>
        <div class="col-xs-5 allowance_textBox" 
             style="padding-left:7px;">
            <strong>{{cleanAPD}}</strong>
        </div>
        <div class="col-xs-1 filter_boxStyle">
            <button class="btn btn-primary"
                    style="float: right; padding:2px; height:20px; width:20px;"
                    [disabled]="!enabledBtn"
                    (click)="calculateCleanAPD()">
                <i class="icon-16 fa fa-refresh" 
                   style="color:white; vertical-align:central;">
                </i>
            </button>
        </div>
    </div>
    <div class="col-xs-7 filter_boxStyle rightBoxSize">
        <div class="col-xs-4 filter_boxStyle">
            <label class="shift_style">
                Spare Media:
            </label>
        </div>
        <div class="col-xs-8 filter_boxStyle">
            <combobox-filter-media-type [producttype]="filterBank.unit.productType"
                                        [segmenttype]="filterBank.segmentConfig_Filter.segment.segmentType"
                                        [filterbanktype]="filterBank.filterBankType_DescriptorInstance.enum" 
                                        [filterdepth]="filterBank.filterDepth_DescriptorInstance.enum"
                                        [overridestyle]="'width: 60%; min-width: 0px; display: inline-block; margin-left: 5px; padding: 0 3px;'"
                                        [brandoption]="filterBank.unit.unitOptions.brandOption"
                                        [descriptorinstance]="filterBank.spareFilterMediaComposite_DescriptorInstance"
                                        [(ngModel)]="filterBank.spareFilterMediaComposite">
            </combobox-filter-media-type>
            <p class="qty_textBox">
                Qty:
                <input type="number" 
                       [(ngModel)]="filterBank.numSpareSets" 
                       (keypress)="keyPress($event)" />
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 filter_boxStyle">
    <div class="col-xs-5 form-group filter_boxStyle leftBoxSize">
        <div class="col-xs-6 dirty_box">
            <label class="shift_style">
                Dirty Filter Allowance:
            </label>
        </div>
        <div class="col-xs-6 allowance_textBox">
            <input [(ngModel)]="filterBank.dirtyFilterAllowanceAPD"
                   type="number" 
                   name="dirtyfilterallowance" 
                   id="dirtyfilterallowance" 
                   class="form-control"
                   placeholder="0.00" 
                   (keypress)="keyPress($event)" 
                   (ngModelChange)="onChangeDFA()" />
        </div>
    </div>
    <div class="col-xs-7 filter_boxStyle rightBoxSize">
        <div class="col-xs-4 filter_boxStyle">
            <label class="shift_style">
                Face Velocity:
            </label>
        </div>
        <div class="col-xs-5 allowance_textBox">
            <input type="number" 
                   [(ngModel)]="filterBank.faceVelocity" 
                   (keypress)="keyPress($event)" />
        </div>
    </div>
</div>
<div class="col-xs-12 filter_boxStyle">
    <div class="col-xs-5 form-group filter_boxStyle leftBoxSize">
        <div class="col-xs-6 filter_boxStyle">
            <label class="shift_style">
                Loaded Pressure Drop:
            </label>
        </div>
        <div class="col-xs-6 allowance_textBox">
            <input type="number" 
                   (keypress)="keyPress($event)" />
        </div>
    </div>
    <div class="col-xs-6 filter_boxStyle rightBoxSize">
    </div>
</div>
<div class="col-xs-12 filter_gauge">
    <div class="col-xs-3 filter_boxStyle">
        <h3 style="padding-left:15px; margin-top: 10px">
            Filter Gauges
        </h3>
    </div>
    <div class="col-xs-9 filter_boxStyle">
        <h3 style="float: right; font-size:9px; margin-top: 16px;">
            Note: Filter Gauges will be mounted in filter access door
        </h3>
    </div>
</div>
<div class="col-xs-12 filter_boxStyle">
    <div class="col-xs-5 form-group filter_boxStyle leftBoxSize">
        <div class="col-xs-6 shift_text">
            <label class="shift_style">
                Type:
            </label>
        </div>
        <div class="col-xs-6 shift_selectBox">
            <combobox-filter-gauge-type [producttype]="filterBank.unit.productType"
                                        [overridestyle]="'width: 100%; padding: 0 5px; min-width: 1px; display: inline'"
                                        [brandoption]="filterBank.unit.unitOptions.brandOption"
                                        [descriptorinstance]="filterBank.gaugeType_DescriptorInstance"
                                        [(ngModel)]="filterBank.gaugeType_DescriptorInstance.enum">
            </combobox-filter-gauge-type>
        </div>
    </div>
    <div class="col-xs-7 filter_boxStyle rightBoxSize">
        <div class="col-xs-4 filter_boxStyle">
            <label class="shift_style">
                Primary Filter:
            </label>
        </div>
        <div class="col-xs-8 filter_boxStyle">
            <div class="checkbox">
                <input id="box-3" type="checkbox" value="1" disabled />
                <label for="box-3"></label>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 filter_boxStyle">
    <div class="col-xs-5 form-group filter_boxStyle leftBoxSize">
        <div class="col-xs-6 shift_text">
            <label class="shift_style">
                Range:
            </label>
        </div>
        <div class="col-xs-6 shift_rangeBox">
            <combobox-filter-gauge-range [producttype]="filterBank.unit.productType"
                                         [overridestyle]="'width: 100%; padding: 0 5px; min-width: 1.5px; display: inline'"
                                         [brandoption]=" filterBank.unit.unitOptions.brandOption"
                                         [descriptorinstance]="filterBank.gaugeRange_DescriptorInstance"
                                         [(ngModel)]="filterBank.gaugeRange_DescriptorInstance.enum">
            </combobox-filter-gauge-range>
        </div>
    </div>
    <div class="col-xs-7 filter_boxStyle rightBoxSize">
    </div>
</div>
